* {
    box-sizing: border-box;
  }

h3 {
  color: #4aaaa5;
  font-size: 25px;
}

.card {
    padding: 30px;
    background-color: #ffffff;
    border-color: #dddddd;
    max-width: 960px;
    margin: 0 auto;
}

.media-body {
    width: 100%;
    margin: 0 auto;
    padding: 40px;
    max-width: 960px;
    overflow: auto;
    color: #242424;
}

#formGroupExampleInput3 {
  height: 200px;
}

.backgroundimage {
  background-image: url("../images/shattered.png");
  height: 100%;
}

.navbar-brand {
  font-family: 'Bree Serif', serif;
}


/* Portfolio */

.gallery {
  display: grid;
  grid-gap: 100px;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
}

.item {
  width: 100%;
}

.caption{
  position:absolute;
}

.captioncolor{
  color: #0c5460;
  background-color: #d1ecf1;
  border-color: #bee5eb;
  margin-top:220px;
}